/*****************************************************************************
 * Конфиг сервера основан на библиотеке libconfig++                          *
 * Описание синтаксиса на русском можно посмотреть на хабре:                 *
 *   https://habrahabr.ru/post/148948/#para-configг                          *
 * Репозиторий библиотеки:                                                   *
 *   https://github.com/hyperrealm/libconfig                                 *
 *****************************************************************************/

/*****************************************************************************
 * Параметры ядра приложения                                                 *
 *****************************************************************************/
core = {
	workers = 4; // Количество рабочих потоков
};

/*****************************************************************************
 * Список активных транспортов                                               *
 *****************************************************************************/
transports = (
	{
		// Имя транспорта. Произвольный буквенно-цифровой идентификатор
		name = "transport1";

		// Тип транспорта
		//   Доступные значения: http, websocket, packet
		type = "http";

		// Флаг безопасного соединения
		//   При включении трафик оборачивается в SSL.
		//   Не рекоммендуется, так как используется самоподписаный сертификат
		secure = false;

		// Параметры слушающего сокета
		host = "0.0.0.0";   // IP
		port = 54321;       // Порт
	}
);

/*****************************************************************************
 * Конфигурация для подключения к базам данных                               *
 *****************************************************************************/
databases = (
	{
		// Имя пула коннектов к БД
		//   Уникальный буквенно-цифровой идентификатор
		name = "common";

		// Тип сервера БД
		//   Реализованы: mysql
		type = "mysql";

		// Параметры подключения к серверу БД
		dbserver = "127.0.0.1";       // IP сервера БД (при TCP подключении)
		dbport = 3306;                // Порт сервера БД (при TCP подключении)
		dbsocket = "/run/mysql.sock"; // Полное имя сокета (для UNIX-socket)

		// Параметры доступа
		dbuser = "wgms";              // Имя пользователя
		dbpass = "Xde5a7mtmWDnc56Bs"; // Пароль пользователя
		dbname = "wgms_payments";     // Имя БД по умолчанию
	}
);

/*****************************************************************************
 * Список активных сервисов                                                  *
 *****************************************************************************/
services = (
	{
		// Тип сервиса
		//   Реализованы: payments и products
		type="payments";

		// Описание частей сервиса для работы с 3кв-party приложениями
		//   Каждая часть реализует логику для конкретной третьей стороны.
		//   Может повторяться для работы на разных transport+endpoints
		parts = (
			{
				// Тип составной части сервиса
				//   Зависит от реализации сервиса
				type = "client";

				// Используемый транспорт
				//   Идентификатор транспорта, описаный в конфиге
				transport = "transport1";

				// Начальная часть URI для роутинга
				//   Имеет смысл только для транспорта, основанного на http
				uri = "/payments/client";
			},
			{
				type = "facebook";
				transport = "transport1";
				uri = "/payments/facebook";
			}
		);
	},
	{
		type="products";
		parts = (
			{
				type = "admin";
				transport = "http";
				uri = "/products/admin";
			},
			{
            	type = "client";
				transport = "http";
				uri = "/products/client";
			},
		);
	}
);

/*****************************************************************************
 * Конфигурация внешних приложений                                           *
 *****************************************************************************/
applications = (
	{
		// Тип 3rd-party приложения
		//   Реализованы:
		//    - admin
		//    - vkontakte
		//    - odnoklassniki
		//    - moimir
		//    - facebook
		//    - rockyou
		type = "vkontakte";

		// Идентификатор приложения
		//   В рамках одного сервера предполагается, что appId уникален,
		//   независимо от типа. С точки зрения сервера это индекс
		appId = "1234567";

		// Ключ или секрет приложения для формирования подписи запросов
		appKey = "qAwSeDrFtGyHuJiKoLpZ";
	},
	{
	 	type = "odnoklassniki";
		appId = "987654321";
		appKey = "1234567890QWERTYUIOPASDF";
	}
);

/*****************************************************************************
 * Конфигурация системы логгирования                                         *
 *****************************************************************************/
logs = {
	// Конфигурация синков
	sinks = (
		{
			// Имя синка
			name  = "file";

			// Тип синка
			type = "file"; // Вывод логов в файл

			// Формат вывода
			//   Описание можно посмотреть в документации к библиотеке P7
			//   http://baical.net/p7.html (дока в архиве)
			format = "%tm\t%tn\t%mn\t%lv\t%ms";

			// Папка логов
			directory = "/opt/wgms/logs/";

			// Настройка ротации логов
			//   100mb - создавать новый файл каждые 100 MB
			//   24hr - создавать новый файл каждые 24 часа
			rolling = "100mb"; // "24hr"

			// Максимальное количество файлов. Самые старые удаляются.
			maxcount = 500;
		},
		{
			name  = "console";
			type = "console"; // Вывод в консоль
			format = "%tm\t%tn\t%mn\t%lv\t%ms";
		},
		{
			name  = "syslog";
			type = "syslog"; // Вывод в Syslog
			format = "%tm\t%tn\t%mn\t%lv\t%ms";
		}
	);

	// Конфигурация логгеров
	loggers = (
		{
			// Имя логгера
			//   имя '*' указывает конфиг для логгеров не сконфигурированных явно
			name = "*";

			// Используемый логгером синк
			sink = "file";

			// Уровень детализции лога
			//   Возможные значения: trace, debug, info, warn, error, crit, off
			level = "info";
		}
	);
};

